---
import Featured from "../components/Featured.astro";
import Introduction from "../components/Introduction.astro";
import Newsletter from "../components/Newsletter.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Geraint Guan"
  description="Geraint Guan's personal software & product development blog."
  author="Geraint Guan"
  url="https://zerotosmall.dev"
>
  <div class="center">
    <section>
      <Introduction />
    </section>
    <hr />
    <section>
      <Featured />
    </section>
    <hr />
    <section>
      <Newsletter />
    </section>
  </div>
</BaseLayout>
