---
import Socials from "./Socials.astro";
---

<h1 class="heading">Zero → Small</h1>
<div class="paragraph">
  <p>
    A blog about the (fun) trials and tribulations of building, launching, and
    scaling software products yours truly,
    <a href="https://www.geraint.io/" class="hover:text-accent underline"
      >Geraint Guan</a
    >. May include occasional musings on semi-related topics.
  </p>
  <Socials />
</div>
